/* Override autofill styles for Chrome and Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 5px 5px 10px antiquewhite !important;
    -webkit-input-placeholder: antiquewhite !important;
}

/* Override autofill styles for Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    background-color: antiquewhite !important;
    color: #8b4b4b !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: right;
    background-color: #513536;
}

#search {
    background-color: transparent;
    border: 2px solid #221616;
    padding: 10px 20px;
    border-radius: 5px;
    color: antiquewhite;
    font-size: medium;
    box-shadow: 5px 5px 10px #221616;
}

#search:focus {
    outline: 0;
    border: 2px solid antiquewhite;
    box-shadow: 5px 5px 10px antiquewhite;
}

#search::placeholder{
    color: antiquewhite;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters {
    display: flex;
    justify-content: center;
    width: 100%; 
    margin: auto;
}

.filterBtn, .searchBtn {
    padding: 10px 20px;
    margin: 20px;
    border: 0;
    border-bottom: 2px solid #3a2525;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #3a2525;
    color: antiquewhite;
    font-size: medium;
    background-color: #8b4b4b;
    cursor: pointer;
}

.filterBtn:hover {
    background-color: #513536;
}

.filterBtn:focus {
    background-color: #513536;
}

.filterBtn:active {
    background-color: #513536;
    color: antiquewhite;
}

.titleHeader {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.container {
    padding-left: 5%;
    padding-right: 5%;
}

.resultCard {
    width: 300px;
    height: 450px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #3a2525;
    position: relative;
    overflow: hidden;
}

.score, .place {
    padding: 5px 15px;
    color: antiquewhite;
}

.place {
    background-color: rgb(139, 75, 75, 0.8);
    border-bottom-right-radius: 5px;
}

.score {
    background-color: rgba(75, 139, 100, 0.8);
    border-bottom-left-radius: 5px;
}

.poster {
    width: 100%;
    height:  250px;
    object-fit: contain;
    background-color: #513536;
}

.profileImage {
    width: 100%;
    height:  200px;
    object-fit: contain;
    background-color: #513536;
}

.resultCard h4 {
    text-align: left;
    padding-left: 10px;
    font-weight: 1000;
    font-size: large;
    color: #720b0b;
}

.resultCard a {
    text-decoration: none;
}

.resultCard h4:hover {
    color: #8b4b4b;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: white;
    color: #8b4b4b;
    
    display: flex;
    flex-direction: column;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    transform: translateY(101%);
    transition: transform 0.2s ease-in;
    z-index: 1;
}

.resultCard:hover .description {
    transform: translateY(0);
}

.releaseDate {
    font-size: large;
    color: #8b4b4b;
    text-align: left;
    padding-left: 10px;
}


/** 
* Error messages
**/

/* Feedback information for the user about the outcome of an action. */
.infoMessage {
    margin: 20px;
    padding: 20px;
    background-color: rgba(92, 185, 228, 0.8);
    text-align: center;
    font-size: large;
    font-weight: 1000;
    color: #163565;
    border: 2px solid #163565;
    border-radius: 5px;
}

.errorMessage {
    margin: 20px;
    padding: 20px;
    background-color: rgba(185, 92, 92, 0.8);
    text-align: center;
    font-size: large;
    font-weight: 1000;
    color: #3a2525;
    border: 2px solid #3a2525;
    border-radius: 5px;
}